<a href="https://colab.research.google.com/github/eaedk/python3_lecture/blob/main/PYTHON_%26_OOP_FUNDAMENTALS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Introduction
This tutorial is designed to introduce you to the fundamentals of python programming by providing you with the basic understanding of the Python datatypes, language syntax, and methods. We also cover the notion of Object Oriented Programming as applied to Python.

Please note that this tutorial is introductory and we expect you to leverage the concepts introduced here to build more competent Python programming skills even as you advance in the IDL course.

We cover the following concepts in this tutorial
1. Python Data Types and Associated Methods
2. Python Built-in Functions
2. Logical statements (if...else)
3. Looping
4. File Methods
5. User-Defined Functions
6. Errors & Exception Handling
7. Recursion
9. Object Oriented Programming (OOP)

#### 1. Python Data Types and Manipulations
##### Numeric

In [ ]:
# We have three numeric data types: Integers, Floating points, and Complex numbers

# We will focus on Integers and Floating points

# Assign integer numbers to variables
int_1 = 23
int_2 = -21
int_3 = 5

# Assign floating point numbers to variables
floating_1 = 3.56
floating_2 = 8.98

# We can perform arithmetic operations with the numeric values
add_ = int_1 + floating_2
sub_ = int_2 - floating_1
div_2 = int_1 / floating_2
mult_ = int_1 * floating_1

# Return the quotient after a numeric division
div_1 = int_1 // int_2

# We can also get just the remainder after a numeric division
rem_ = int_1 % int_2

# The print built-in function comes in handy when you want to print a mix of variables and text/string
print("The addition of", int_1, "and", floating_2, "is", add_)

# We can also use the 'f-format' print function to make printing easier and cohesive
print(f"The subtraction of {floating_1} from {int_2} is {sub_}\n")

print(f"The division of {int_1} by {floating_2} is {div_2}")

print(f"The multiplication of {int_1} and {floating_1} is {mult_}\n")

print(f"The quotient when we divide {int_1} by {int_2} is {div_1}")

print(f"The remainder when we divide {int_1} by {int_2} is {rem_}")

The addition of 23 and 8.98 is 31.98
The subtraction of 3.56 from -21 is -24.56

The division of 23 by 8.98 is 2.5612472160356345
The multiplication of 23 and 3.56 is 81.88

The quotient when we divide 23 by -21 is -2
The remainder when we divide 23 by -21 is -19

##### Strings

In [ ]:
# We can create a string in python by using a single or double quotes around any piece of text
str_1 = "IDL is a fun COURSE"

# Putting numeric values in a quotes makes it a string
str_2 = '34.5'

# We need to escape the quote characters using backslash ('\') if we want to use them literally
str_3 = "[34, \"I am not kidding\"]"

print(str_1,'\n',str_2,'\n',str_3, sep="")

IDL is a fun COURSE
34.5
[34, "I am not kidding"]

In [ ]:
# We can access the characters of a string by indexing; Remember Python uses 'Zero-based' Indexing
# Spaces are also counted as characters in a string

first_char = str_1[0]
third_char = str_1[2]
last_char = str_1[-1]

# We can also get a sub-string from the whole string also by using the indexing approach
first_five = str_1[0:5]
last_three = str_1[-3:]

print(f"The first character in \"{str_1}\" is \"{first_char}\"")
print(f"The thrid character in \"{str_1}\" is \"{third_char}\"")
print(f"The last character in \"{str_1}\" is \"{last_char}\"")
print(f"The first five characters in \"{str_1}\" is \"{first_five}\"")
print(f"The last three characters in \"{str_1}\" is \"{last_three}\"")

The first character in "IDL is a fun COURSE" is "I"
The thrid character in "IDL is a fun COURSE" is "L"
The last character in "IDL is a fun COURSE" is "E"
The first five characters in "IDL is a fun COURSE" is "IDL i"
The last three characters in "IDL is a fun COURSE" is "RSE"

In [ ]:
# We use the len() built-in function to find the length of a string
str_3_length = len(str_3)

# Split a string based on a delimeter using the split() function
split_str_1 = str_1.split()
split_s_str_1 = str_1.split('s')

print(f"The length of \"{str_3}\" is {str_3_length}")

print(f"Spliting \"{str_1}\" based on space we get {split_str_1}")
print(f"Spliting \"{str_1}\" based on \"s\" we get {split_s_str_1}")

The length of "[34, "I am not kidding"]" is 24
Spliting "IDL is a fun COURSE" based on space we get ['IDL', 'is', 'a', 'fun', 'COURSE']
Spliting "IDL is a fun COURSE" based on "s" we get ['IDL i', ' a fun COURSE']

In [ ]:
# We can use the lower and upper to convert from upper case to lower case and vice versa
str_4 = "I LOVE IDL COURSE"
str_5 = "fun and amazing"

str_4_lower = str_4.lower()
str_5_upper = str_5.upper()

print(f"\"{str_4}\" in lower case is \"{str_4_lower}\"")
print(f"\"{str_5}\" in upper case is \"{str_5_upper}\"")

"I LOVE IDL COURSE" in lower case is "i love idl course"
"fun and amazing" in upper case is "FUN AND AMAZING"

In [ ]:
# We can also add two strings together
str_6 = str_4 + " it is " + str_5

# Multiply a string by a number
str_7 = str_4 * 3

print(f"Adding strings together we get {str_6}")
print(f"Multiplying {str_4} by 3 we get {str_7}")

Adding strings together we get I LOVE IDL COURSE it is fun and amazing
Multiplying I LOVE IDL COURSE by 3 we get I LOVE IDL COURSEI LOVE IDL COURSEI LOVE IDL COURSE

##### List

In [ ]:
# We create a list using the square brackets;
list_1 = [34, 45, 56, 89, 12.5, 20, 3.4]

list_2 = ['sam', 'IDL', 'love', 'create']

list_3 = [34, 22, 'novice', 'claim', '45.3', 90.07]

list_4 = [['IBM', 'Microsoft', 43], 'Dell', [23, 65], 'calm', 76.98]

In [ ]:
# Adding list together creates a list containing both lists
list_5 = list_3 + list_4

# Alternatively we can also extend a list using the extend() function
list_2.extend(list_1)

print(f"list_5 = {list_5}")
print(f"list_2 = {list_2}")

list_5 = [34, 22, 'novice', 'claim', '45.3', 90.07, ['IBM', 'Microsoft', 43], 'Dell', [23, 65], 'calm', 76.98]
list_2 = ['sam', 'IDL', 'love', 'create', 34, 45, 56, 89, 12.5, 20, 3.4]

In [ ]:
# We can select an item in a list using indexing just like we did with strings; remember 'zero-based' indexing
first_item = list_5[0]
seventh_item = list_5[6]
last_item = list_5[-1]

# Selecting a range of items
four_items = list_5[4:8]
last_three_items = list_5[-3:]

print(f"list_5: {list_5}")
print(f"first item: {first_item}")
print(f"seventh item: {seventh_item}")
print(f"last three items: {last_three_items}")

list_5: [34, 22, 'novice', 'claim', '45.3', 90.07, ['IBM', 'Microsoft', 43], 'Dell', [23, 65], 'calm', 76.98]
first item: 34
seventh item: ['IBM', 'Microsoft', 43]
last three items: [[23, 65], 'calm', 76.98]

In [ ]:
list_2 = ['sam', 'IDL', 'love', 'create']

# We can add to the end of a list using append() function
print(f"list_2: {list_2}")

list_2.append('Google')

print(f"After appending \"Google\": {list_2}")
print()


# Use remove() method to remove the first instance of specified item
list_2.remove('sam')
print()
print(f"After removing \"sam\": {list_2}")

# Use insert() method to add an item to a specified position
list_2.insert(1, 'Amazon')
print(f"After inserting \"Amazon\" at index 1: {list_2}")

list_6 = ['Google', 'Microsoft', 'IBM', 'Apple', 'Microsoft', 'Microsoft', 'IBM', 'Apple']
# Use count() method to count the number of element in a list
print(f"\nlist_6: {list_6}")
print(f"The number of \"Microsoft\" in the list is: {list_6.count('Microsoft')}")

list_2: ['sam', 'IDL', 'love', 'create']
After appending "Google": ['sam', 'IDL', 'love', 'create', 'Google']


After removing "sam": ['IDL', 'love', 'create', 'Google']
After inserting "Amazon" at index 1: ['IDL', 'Amazon', 'love', 'create', 'Google']

list_6: ['Google', 'Microsoft', 'IBM', 'Apple', 'Microsoft', 'Microsoft', 'IBM', 'Apple']
The number of "Microsoft" in the list is: 3

In [ ]:
list_7 = ['Blue', 'Green', 'Yellow']

# Use the reverse() method to reverse a list order
list_7.reverse()

print(f"Reversed list: {list_7}")
print()

# Check if an element is in a list using the "in" keyword
answer_1 = 'Blue' in list_7
answer_2 = 'Red' in list_7

print(f"Blue in {list_7}: {answer_1}")
print(f"Red in {list_7}: {answer_2}")

Reversed list: ['Yellow', 'Green', 'Blue']

Blue in ['Yellow', 'Green', 'Blue']: True
Red in ['Yellow', 'Green', 'Blue']: False

##### Tuples

In [ ]:
# Create tuples using parenthesis; same as list but immutable
tup_1 = ('great', 'IDL')
tup_2 = (23.4, 'Yes')

# Create a list of tuples by 'zipping' two or more list of equal lengths
list_8 = ['Peter', 'Sandra', 'Samantha', 'Varun']
list_9 = ['Nigeria', 'USA', 'Spain', 'India']
list_10 = [22, 23, 26, 20]

tup_list = list(zip(list_8, list_9, list_10))
print(tup_1)
print(tup_2)
print()


print(tup_list)

('great', 'IDL')
(23.4, 'Yes')

[('Peter', 'Nigeria', 22), ('Sandra', 'USA', 23), ('Samantha', 'Spain', 26), ('Varun', 'India', 20)]

In [ ]:
# Get the index of an element in a tuple
print(f"The index of 'great' in {tup_1}: {tup_1.index('great')}")
print(f"The index of 'Yes' in {tup_2}: {tup_2.index('Yes')}")

The index of 'great' in ('great', 'IDL'): 0
The index of 'Yes' in (23.4, 'Yes'): 1

##### Set

In [ ]:
# A set contains unique elements;

# Create a set by declaring it using curly brackets.

# Ignores duplicate elements; uses just a single instance of each element
set_2 = {'Blue', 'Yellow', 'Orange', 'Yellow', 'Red', 'White', 'Blue'}

print(set_2)

{'White', 'Orange', 'Red', 'Yellow', 'Blue'}

In [ ]:
# Create a set from a list by casting using the set method set()
list_6 = ['Google', 'Microsoft', 'IBM', 'Apple', 'Microsoft', 'Microsoft', 'IBM', 'Apple']

set_1 = set(list_6)

print(set_1)

{'Apple', 'Google', 'Microsoft', 'IBM'}

In [ ]:
# Add an element to a set using add() method

set_2.add('Black')
print(f"Added \"Black\": {set_2}")

Added "Black": {'White', 'Orange', 'Black', 'Red', 'Yellow', 'Blue'}

In [ ]:
# We cannot directly index a set to obtain an item

# More details in the 'looping' section on how to access set elements by index
print(set_2[1])

TypeError: ignored

<b>Please checkout other methods you can use with set using the link:</b>
<a href="https://www.w3schools.com/python/python_ref_set.asp">  Set Methods </a>

##### Dictionary

In [ ]:
# A dictionary consists of key-value pairs similar to a JSON data type; the keys must be unique
dict_1 = {'Name':'Alice', 'Age':16, 'Hobbies':['Dancing', 'Singing'], 'UUID':'045', 3:'Accountant'}
dict_1

{'Name': 'Alice',
 'Age': 16,
 'Hobbies': ['Dancing', 'Singing'],
 'UUID': '045',
 3: 'Accountant'}

In [ ]:
# We access each key-value pair using the 'key' in the dictionary
print(dict_1['Name'])
print(dict_1[3])

Alice
Accountant

In [ ]:
# We can update the dictionary by specifying the key and assigning a value to it
dict_1['Married'] = 'Yes'
dict_1['Name'] = 'Susan'
dict_1

{'Name': 'Susan',
 'Age': 16,
 'Hobbies': ['Dancing', 'Singing'],
 'UUID': '045',
 3: 'Accountant',
 'Married': 'Yes'}

In [ ]:
# Obtain all keys in a dictionary
all_keys = list(dict_1.keys())
print(all_keys,'\n')

# Obtain all the values in a dictionary
all_values = dict_1.values()
print(all_values, '\n')

# obtain all key-value pairs as a list of tuples
key_value = list(dict_1.items())
print(key_value)

['Name', 'Age', 'Hobbies', 'UUID', 3, 'Married']

dict_values(['Susan', 16, ['Dancing', 'Singing'], '045', 'Accountant', 'Yes'])

[('Name', 'Susan'), ('Age', 16), ('Hobbies', ['Dancing', 'Singing']), ('UUID', '045'), (3, 'Accountant'), ('Married', 'Yes')]

<b>Please checkout other methods you can use with Dictionaries using the link:</b>
<a href="https://www.w3schools.com/python/python_ref_dictionary.asp">  Dictionary Methods </a>

#### 2. Python Built-in Functions

In [ ]:
# We have used some of these functions previously such as the print(), len(), Zip()

# Use the max() and min() to get the maximum and minimum number in an iterable
print(f"list_1: {list_1}")
print()

print(f"Maximum number: {max(list_1)}")
print(f"Minimum number: {min(list_1)}")

list_1: [34, 45, 56, 89, 12.5, 20, 3.4]

Maximum number: 89
Minimum number: 3.4

In [ ]:
# We can get what data type a variable is by using the Type() function
print(f"Data type of list_1: {type(list_1)}")
print(f"Data type of tup_1: {type(tup_1)}")
print(f"Data type of dict_1: {type(dict_1)}")
print(f"Data type of 1: {type(1)}")
print(f"Data type of str_1: {type(str_1)}")

Data type of list_1: <class 'list'>
Data type of tup_1: <class 'tuple'>
Data type of dict_1: <class 'dict'>
Data type of 1: <class 'int'>
Data type of str_1: <class 'str'>

In [ ]:
# Create a list of range of numbers using the range function
range_1 = range(1, 20)

range_2 = range(1, 40, 2)

print(f"range_1: {list(range_1)}")
print(f"range_2: {list(range_2)}")

range_1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range_2: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

<b>Please checkout other Python Built-in functions using the link:</b>
<a href="https://www.w3schools.com/python/python_ref_functions.asp">  Built-in Functions </a>

#### 3. Logical statements (if...else)

In [ ]:
# Python supports logical conditions
# '==' means equal
# '!=' means not equal
#  '<' means less than
#  '<=' means less than or equal to
#  '>=' means greater than or equal to

# Declare some variables
var_a = 45.6
var_b = 23.45
var_c = 45.0
var_d = 45.0

# We use the 'if' keyword in python for conditioning; logical statements always returns True or False
if var_a < var_b:
  print(f"{var_a} is less than {var_b}")

elif var_a == var_b:
    print(f"{var_a} is equal to {var_b}")

elif var_a > var_b:
    print(f"{var_a} is greater than {var_b}")

elif var_a >= var_b:
    print(f"{var_a} is greater than or equal to {var_b}")

else:
    print("I do not get it")

# if var_a >= var_b:
#     print(f"{var_a} is greater than or equal to {var_b}")

45.6 is greater than 23.45

In [ ]:
# We use the logical operators 'and', 'or', 'not' to join series of conditional statements
if var_a < var_b and var_c == var_d:
    print(f"{var_a} is less than {var_b}")
    print(f"{var_c} is equal to {var_d}")

elif var_a > var_b and var_c == var_d:
    print(f"{var_a} is greater than {var_b}")
    print(f"{var_c} is equal to {var_d}")

45.6 is greater than 23.45
45.0 is equal to 45.0

In [ ]:
# We use the logical operators 'and', 'or', 'not' to join series of conditional statements
if var_a < var_b or var_c == var_d:
    print("one of the statements is True")

elif var_a > var_b or var_c == var_d:
    print(f"{var_a} is greater than {var_b}")
    print(f"{var_c} is equal to {var_d}")

one of the statements is True

In [ ]:
# We can further perform logical operations with an iterable
list_0 = ['EUR', 'USD', 'GBP', 'AUD', 'CAD', 'JPY']

if 'EUR' in list_0:
    print(f"EUR is in {list_0}")

if 'USD' not in list_0:
    print(f"USD not in {list_0}")

else:
    print(f"USD is in {list_0}")

EUR is in ['EUR', 'USD', 'GBP', 'AUD', 'CAD', 'JPY']
USD is in ['EUR', 'USD', 'GBP', 'AUD', 'CAD', 'JPY']

In [ ]:
# Nested if..else statements
if 'EUR' in list_0:
    if var_a < var_b:
        print(f"{var_a} is less than {var_b}")
    else:
        print(f"True but {var_a} is not less than {var_b}")

elif 'USD' in list_0:
    if var_a > var_b:
        print(f"{var_a} is greater than {var_b}")
    else:
        print(f"True and {var_a} is greater than {var_b}")

True but 45.6 is not less than 23.45

#### 4. Looping

In [ ]:
# Using For Loop to iterate over a number of times
list_for = []
for i in range(0, 10):
    list_for.append(i)
    print(list_for)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Looping through an iterable
for item in list_0:
    print(item)

EUR
USD
GBP
AUD
CAD
JPY

In [ ]:
# Looping through an iterable using the index
for index in range(len(list_0)):
    print(list_0[index])

EUR
USD
GBP
AUD
CAD
JPY

In [ ]:
# A while loop can be used to achieve anything a For loop can do
index = 0
while index < len(list_0):
    print(list_0[index])
    index += 1

EUR
USD
GBP
AUD
CAD
JPY

In [ ]:
print(dict_1)
print()

# Looping through the items in a dictionary
for key, value in dict_1.items():
    print(key, value)

{'Name': 'Susan', 'Age': 16, 'Hobbies': ['Dancing', 'Singing'], 'UUID': '045', 3: 'Accountant', 'Married': 'Yes'}

Name Susan
Age 16
Hobbies ['Dancing', 'Singing']
UUID 045
3 Accountant
Married Yes

In [ ]:
print(set_2)
print()

# Looping through a set using enumerate()
for index, item in enumerate(set_2):
    print(index, item)
    print(list_0[index])
    print()

{'White', 'Orange', 'Black', 'Red', 'Yellow', 'Blue'}

0 White
EUR

1 Orange
USD

2 Black
GBP

3 Red
AUD

4 Yellow
CAD

5 Blue
JPY

#### 5. File Methods

We use the open() function to open a file, for reading or writing; Open() function takes two major arguments "filename" and the "mode"

<b>Modes</b><br>

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

In [ ]:
# Open file in reading mode
file_reader = open('Test_data.csv', mode='r', encoding='UTF-8')

# Read all the lines in the file
file_lines = file_reader.readlines()

# Close file after reading
file_reader.close()

print(file_lines)

['Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk\n', '55,male,2,free,little,NA,1597,24,education,good\n', '48,female,1,rent,little,moderate,1795,18,radio/TV,good\n', '24,female,2,own,little,little,4272,20,furniture/equipment,good\n', '35,male,2,own,NA,NA,976,12,radio/TV,good\n', '24,female,0,rent,NA,moderate,7472,12,car,good\n', '24,male,2,own,little,little,9271,36,car,bad\n', '26,male,1,own,little,moderate,590,6,radio/TV,good\n', '65,male,2,own,NA,NA,930,12,radio/TV,good\n', '55,male,3,free,little,moderate,9283,42,car,good\n']

In [ ]:
# Create a list to store my dictionaries
list_dict = []

# Reading a file line by line using 'with' keyword; closes file after reading/writing
with open('Test_data.csv', 'r') as file_reader:

    # reads the firstline which contains the field_names/columns
    dict_keys = file_reader.readline().rstrip('\n').split(',')

    # Read each subsequent line strip out the newline character
    for line in file_reader.readlines():
        diction = {}
        line_list = line.rstrip('\n').split(',')

        # Create a dictionary for each line
        for index in range(len(dict_keys)):
            diction[dict_keys[index]] = line_list[index]

        # Append this dictionary to a list
        list_dict.append(diction)

list_dict[0:2]

[{'Age': '55',
  'Sex': 'male',
  'Job': '2',
  'Housing': 'free',
  'Saving accounts': 'little',
  'Checking account': 'NA',
  'Credit amount': '1597',
  'Duration': '24',
  'Purpose': 'education',
  'Risk': 'good'},
 {'Age': '48',
  'Sex': 'female',
  'Job': '1',
  'Housing': 'rent',
  'Saving accounts': 'little',
  'Checking account': 'moderate',
  'Credit amount': '1795',
  'Duration': '18',
  'Purpose': 'radio/TV',
  'Risk': 'good'}]

In [ ]:
print(dict_keys)

# Writing to a file

# Open the file using the 'with' and 'open' keyword
with open('Writing_test_data.csv', 'w') as file_writer:

    # join the keys together using a ',' to form a string and add a new line character at the end
    fields = ','.join(dict_keys) + '\n'

    # Write this to the first line in the CSV file
    file_writer.write(fields)

    # loop through the dictionaries in the list
    for diction in list_dict:

        # For each dictionary join the values and add a newline
        field_values = ','.join(list(diction.values())) + '\n'

        # Write these values to the file
        file_writer.write(field_values)

['Age', 'Sex', 'Job', 'Housing', 'Saving accounts', 'Checking account', 'Credit amount', 'Duration', 'Purpose', 'Risk']

#### 6. User-Defined Functions

Functions we define ourselves to perform specific task is called User-Defined Function.
User-defined functions help to decompose a large program into small segments which makes the program easy to understand, maintain and debug.

In [ ]:
# We define a function using the 'def' keyword followed by the function name, the arguments, and a return statement
def print_something():

    if 3 < 5:
        print("Dumb! 3 is always less than 5")
    else:
        print("I can never reach here")

    return

print_something()

Dumb! 3 is always less than 5

In [ ]:
# We define another function with arguments
def add_numbers(array):

    sum_list = 0
    for num in array:
        sum_list += num

    return sum_list

list_sum = [2, 4, 7, 20, 23, 16, 10]
print(f"The sum of numbers in the list is: {add_numbers(list_sum)}")

The sum of numbers in the list is: 82

In [ ]:
# We can return array from a function
def find_even_sum(array):
    even_numbers = []

    for num in array:
        if num % 2 == 0:
            even_numbers.append(num)

        else:
            continue

    print(f"The even numbers in the list are: {even_numbers}")

    sum_even_numbers = add_numbers(even_numbers)

    return sum_even_numbers

numbers = [1, 34, 22, 55, 67, 86, 100, 201, 33, 22, 24, 18, 21, 17, 15]
evens = find_even_sum(numbers)

print(f"The sum of even numbers in the list is: {evens}")

The even numbers in the list are: [34, 22, 86, 100, 22, 24, 18]
The sum of even numbers in the list is: 306

In [ ]:
def gt_than_num(array, number):
    for num in array:
        if num > number:
            return True
        else:
            continue

    return False

num_bers = [5, 43.3, 97, 22.1, 5, 89, 12]
num = 90
print(f"A number in the list {num_bers} is greater than {num}: {gt_than_num(num_bers, num)}")

A number in the list [5, 43.3, 97, 22.1, 5, 89, 12] is greater than 90: True

#### 7. Error & Exceptions

Errors in Python can be of two types - "Syntax Error" and "Exceptions"

<b>Syntax error</b> arises from wrong syntax in the code which leads to code failure. This is by far the most common error in programming and easiest to fix.

<b>Exceptions:</b> These errors are raised when the code is syntactically correct but the execution of the code leads to an error. This error does not stop program execution but can change the program flow and produce unexpected results.

In [ ]:
print "Hello world"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello world")? (<ipython-input-44-9fb80848b1b7>, line 1)

In [ ]:
for i in range(20)
    print("Hello")

SyntaxError: invalid syntax (<ipython-input-45-9114ffa803d4>, line 1)

In [ ]:
er_list = ['don', 'cat', 'fit']

print(er_list[4])

IndexError: list index out of range

In [ ]:
li_1 = ['Beetle', 'Octopus', 'Frog', 'Mice']
li_2 = [1, 2, 3, 4]
dict_err = dict(zip(li_2, li_1))
print(dict_err)

dict_err[5]

{1: 'Beetle', 2: 'Octopus', 3: 'Frog', 4: 'Mice'}

KeyError: 5

In [ ]:
var_11 = 45
var_21 = '34'

print(var_11 + var_21)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
def print_s():
    print("Hello dear")

    return

print_s(23)

TypeError: print_s() takes 0 positional arguments but 1 was given

In [ ]:
'tit' > 3

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
tup_err = ('bit', 'eat')
tup_err.append('kit')

AttributeError: 'tuple' object has no attribute 'append'

#### 8. Recursion

A recursive function is a function which calls itself. It can be helpful to avoid a lot of nested iterations and make code look clean

In [ ]:
# We will look at a simple recursive function which calculates factorial of a number;
# 1! = 1
# 2! = 2 * 1!
# 3! = 3 * 2!
# 4! = 4 * 3!
# 5! ......

# Create a function that calls itself
def calc_factorial(num):

    if num == 0 or num == 1:
        return 1
    else:
        return (num * calc_factorial(num - 1))

calc_factorial(4)

24

#### 9. Object Oriented Programing (OOP)

Python is an object-oriented language which offers methods for creating classes and defining objects.

A class is a collection instance variables and methods which together defines the nature or characteristics of an object type. Classes a basically the blue prints or templates from which objects are instantiated.

An object is an instance of a class with its attributes or properties defined. A class serve as a construct for many objects

In [ ]:
# We will create a class Book for a bookseller application
class Book:

    # __init__ is a constructor for defining the class variables
    def __init__(self, title, quantity, author, price):

        self.title = title
        self.quantity = quantity
        self.author = author
        self.price = price

In [ ]:
# Instantiating an object of the class Book
book_1 = Book('The Frog', 10, 'James Twain', 20)
book_2 = Book('Moonlight stories', 5, 'Timothy sandwich', 35)

# printing the books just tells us that the variables are objects of class Book with their memory locations
print(book_1)
print(book_2)

<__main__.Book object at 0x0000021E6A3B5700>
<__main__.Book object at 0x0000021E6A3B5130>

In [ ]:
# We can add the __repr__ method which gives details of the object attributes
class Book:

    # __init__ is a constructor for defining the class variables
    def __init__(self, title, quantity, author, price):

        self.title = title
        self.quantity = quantity
        self.author = author
        self.price = price

    # Define some other random method for this class (get the date of book publish)
    def get_publish(self):
        day = str(self.price)
        return day + '/05/2020'

    def __repr__(self):
        return f"Book: {self.title}, Quantity: {self.quantity}, Author: {self.author}, Price: {self.price}"

In [ ]:
# Instantiating an object of the class Book
book_1 = Book('The Frog', 10, 'James Twain', 20)
book_2 = Book('Moonlight stories', 5, 'Timothy sandwich', 35)

# printing the books just tells us that the variables are objects of class Book with their memory locations
print(book_1)
print(book_2)

Book: The Frog, Quantity: 10, Author: James Twain, Price: 20
Book: Moonlight stories, Quantity: 5, Author: Timothy sandwich, Price: 35

In [ ]:
# We can also get the individual attribute of each book using the '.' operator
print(book_1.author)
print(book_2.title)

James Twain
Moonlight stories

In [ ]:
book_1.get_publish()

'20/05/2020'

##### Encapsulation

This is a core concept or advantage of OOP. __Encapsulation__ provides a means of preventing unauthorized access to some instance varibles of an object. This keeps the variables hidden and inaccessible often referred to as private variables

To create a private variable we use the double underscore (__variableName) in front of the variable name

In [ ]:
# Let's add some private variables to our class
class Book:

    # __init__ is a constructor for defining the class variables
    def __init__(self, title, quantity, author, price):

        self.title = title
        self.quantity = quantity
        self.author = author

        # We make the price a private variable and create another private variable 'discount'
        self.__price = price
        self.__discount = None


    # Define some other random method for this class (get the date of book publish)
    def get_publish(self):
        day = str(self.price)
        return day + '/05/2020'

    def __repr__(self):
        return f"Book: {self.title}, Quantity: {self.quantity}, Author: {self.author}"

In [ ]:
# Instantiating an object of the class Book
book_1 = Book('The Frog', 10, 'James Twain', 20)
book_2 = Book('Moonlight stories', 5, 'Timothy sandwich', 35)

# printing the books just tells us that the variables are objects of class Book with their memory locations
print(book_1)
print(book_2)

Book: The Frog, Quantity: 10, Author: James Twain
Book: Moonlight stories, Quantity: 5, Author: Timothy sandwich

In [ ]:
print(book_1.title)

# We are unable to print the value of the discount because it is a private variable
print(book_1.__discount)

The Frog

AttributeError: 'Book' object has no attribute '__discount'

In [ ]:
# Price variable is now private so we can not access variable directly
print(book_2.__price)

AttributeError: 'Book' object has no attribute '__price'

In [ ]:
# We can use setters and getter methods to access these variables
class Book:

    # __init__ is a constructor for defining the class variables
    def __init__(self, title, quantity, author, price):

        self.title = title
        self.quantity = quantity
        self.author = author

        # We make the price a private variable and create another private variable 'discount'
        self.__price = price
        self.__discount = None

    # Define a setter for discount
    def set_discount(self, discount):
        self.__discount = discount


    # Define a getter for the price
    def get_price(self):

        if self.quantity < 5:
            return self.__price

        elif self.quantity > 5 and self.quantity < 20:
            return self.__price * (1 - self.__discount)

        else:
            return self.__price * (1 - 1.5*self.__discount)


    # Define some other random method for this class (get the date of book publish)
    def get_publish(self):
        day = str(self.price)
        return day + '/05/2020'

    def __repr__(self):
        return f"Book: {self.title}, Quantity: {self.quantity}, Author: {self.author}"

In [ ]:
# Instantiating an object of the class Book
book_1 = Book('The Frog', 10, 'James Twain', 20)
book_2 = Book('Moonlight stories', 5, 'Timothy sandwich', 35)

In [ ]:
# Set the discount for the book
book_1.set_discount(0.15)

# Get the price of the book using the getter method
book_1.get_price()

17.0

##### Inheritance

This is another concept of OOP which allows new classes to be created off from other classes. Inheritance simply allows new classes to inherit other classes templates/blueprints (i.e. methods and variables) in creating theirs.

The subclass or child class is the class that inherits. The superclass or parent class is the class from which methods and/or attributes are inherited.

In [ ]:
# We can add new subclasses to our main Book class; A subclass can be a Novel class or Academic class.
# A Novel is a book same as Academic book, so it makes sense to inherit methods and variables from the Book class

# To create a subclass we use the class keyword as usual but reference the name of the parent class in parentheses
# References the parent class as "Book"

class Novel(Book):

    # This is the constructor for the Novel class
    def __init__(self, title, quantity, author, price, pages):

        # This initializes the instance variables inherited from the parent class
        super().__init__(title, quantity, author, price)

        # This declares a new variable for this class
        self.pages = pages

    def get_rating(self):
        return 3.5

In [ ]:
novel_book = Novel('The london bridge', 23, 'Rit Brian', 20, 109)

In [ ]:
# We can access this instance from the super class
novel_book.title

'The london bridge'

In [ ]:
# Both method accessed through the parent class
novel_book.set_discount(0.10)
novel_book.get_price()

17.0

In [ ]:
# We can also access its own method and instance variables
print(novel_book.pages)
print(novel_book.get_rating())

109
3.5

##### Polymorphism

 This is the ability of a subclass to change a method which already exists in the parent class to meet its own needs

In [ ]:
# The __repr__ exist in the parent class Book is used for printing
# Novel class also inherited this method

print(novel_book)

Book: The london bridge, Quantity: 23, Author: Rit Brian

In [ ]:
# We can overide that method in the parent class by redefining it in this subclass
class Novel(Book):

    # This is the constructor for the Novel class
    def __init__(self, title, quantity, author, price, pages):

        # This initializes the instance variables inherited from the parent class
        super().__init__(title, quantity, author, price)

        # This declares a new variable for this class
        self.pages = pages

    def get_rating(self):
        return 3.5

    def __repr__(self):
        return f"Book: {self.title}, Quantity: {self.quantity}, Author: {self.author}, Pages:{self.pages}, Price:{self.get_price()}"

In [ ]:
novel_book2 = Novel('The london bridge', 23, 'Rit Brian', 20, 109)
novel_book2.set_discount(0.20)

# The new print style uses the one defined in the subclass and not the parentclass
print(novel_book2)

Book: The london bridge, Quantity: 23, Author: Rit Brian, Pages:109, Price:14.0

NB: Python does not support method overloading i.e., you can not use same name for different methods in a class even if their return type and/or number of arguments are different as you would do in other programming languages